#bkgr-img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	z-index: 1;
}
.img	{
	position: relative;
}
#cow {
	width: 70px;
	top: 200px;
	left: 10px;
	z-index: 2;
}
#chicken {
	width: 50px;
	top: 100px;
	left: 50px;
	z-index: 3;
}
#chicken2 {
	width: 70px;
	top: 100px;
	left: 100px;
	z-index: 4;
}
#pig {
	width: 70px;
	top: 150px;
	left: 150px;
	z-index: 5;
}
#horse {
	width: 70px;
	top: 200px;
	left: 200px;
	z-index: 6;
}
#leopard {
	width: 70px;
	top: 150px;
	left: 150px;
	z-index: 7;
}